<h1>Welcome to Ariel Shopping</h1>
{{> exchangeRate}} 
<!-- exchangeRate (the file name created in partials folder) is the syntax to include a partial in a view -->
<!-- 
    express3-handlebars supports subdirectories, so if you have a lot of
    partials, you can organize them. For example, if you have some social
    media partials, you could put them in the views/partials/social
    directory and include them using  social//facebook, so
    cial//twitter, etc.
-->