<div class="exchangeRateWidget">
    {{#each partials.exchangeRate.currencies}}
        <div class="currency">
            <p>{{srcCurrency}} To {{desCurrency}}: {{exchangeRate}}</p>            
        </div>
    {{/each}}
</div>